---
---

@import 'settings';
@import 'foundation';
@include foundation-everything;

main {
    @include grid-row;
    article {
        header, div:first {
            @include grid-column(12);
        }
    }
}

/* http://stackoverflow.com/questions/35388106/top-bar-not-aligning-in-foundation-6 */
.top-bar-title {
    float: left;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: .5rem;
    color: $white;
    font-family: $header-font-family;
    font-weight: lighter;
    letter-spacing: 2px;
}

#brand-logo {
    height: 80vh;
    width: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

#landing {
    text-align: center;
    height: 90vh;

    background-image: url('https://c.pxhere.com/photos/54/3c/landscape_nature_field_asia_green_paddy_sky_agriculture-760120.jpg!d');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-menu-icon {
    vertical-align: text-top;
}

.top-bar a {
    color: $topbar-link-color;
    font-weight: bold;
}

.top-bar a:hover { color: $topbar-link-color-hover; }

img.team-image {
    width: auto;
    height: 10rem;
    border-radius: 100%;
}

div.contact-box {
    border: 1px dashed $black;
    margin: 1em;
}

div.contact-box img {
    border-radius: 100%;
    margin:1em;
    width: 10rem;
}

div.ideas-banner {
    background-color: $brown;
    color: $green;
    padding: 1em;
}

div.row-space {
    padding: 1em;
}

div.home-testimonials p {
    font-size: 120%;
}

#post-list li {
    list-style-type: none;
}

div.product-range-item img {
    border-radius: 100%;
    width: 12rem;
}

div.product-range-item img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 1px;
}

h2,h3,h4,h5,h6 {
    color: $primary-color;
}

div.simply-living-organic-earth img {
    border-radius: 100%;
    width: 21rem;
    padding: 1rem;
    margin-top: 2.5rem;
}

div.simply-living-organic-earth p {
    font-weight: bold;
}

hr {
    border-style: dotted;
    border-color: $dark-beige;
}

#home-testimonials {
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
}

@media screen and #{breakpoint(medium)} {
    #topsoil, #rainforest-compost, #home-news, #home-testimonials {
        border-right: thin dotted $dark-beige;
    }
}

.partner-logo {
    width: 15rem;
    padding: 1rem;
}

.row {
    background-color: $white;
}

#site-footer p {
    color: $off-white;
    margin: .3rem;
}

main {
    min-height: 90vh;
    background-color: $white;
}
