---
---

@import 'settings';
@import 'foundation';
@include foundation-everything;

main {
    @include grid-row;
    article {
        header, div:first {
            @include grid-column(12);
        }
    }
}

/* http://stackoverflow.com/questions/35388106/top-bar-not-aligning-in-foundation-6 */
.top-bar-title {
    float: left;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: .5rem;
    color: $white;
    font-family: $header-font-family;
    font-weight: lighter;
    letter-spacing: 2px;
}

#brand-logo {
    height: 80vh;
    width: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#landing {
    text-align: center;
    height: 90vh;

    background: url(/img/intro-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        height: 90vh;
        top: auto;
        right: 0;
        bottom: auto;
        left: 0;
        width: 100%;
        background: -moz-linear-gradient(top,  rgba(237,230,218,0) 95%, rgba(237,230,218,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(237,230,218,0) 95%,rgba(237,230,218,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(237,230,218,0) 95%,rgba(237,230,218,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ede6da', endColorstr='#ede6da',GradientType=0 ); /* IE6-9 */



    }
}

#top-menu-icon {
    vertical-align: text-top;
}

.top-bar a {
    color: $topbar-link-color;
    font-weight: bold;
}

.top-bar a:hover { color: $topbar-link-color-hover; }

img.team-image {
    width: auto;
    height: 10rem;
    border-radius: 100%;
}

div.contact-box {
    border: 1px dashed $black;
    margin: 1em;
}

div.contact-box img {
    border-radius: 100%;
    margin:1em;
    width: 10rem;
}

div.ideas-banner {
    background-color: $brown;
    color: $green;
    padding: 1em;
}

div.row-space {
    padding: 1em;
}

div.home-testimonials p {
    font-size: 120%;
}

#post-list li {
    list-style-type: none;
}

div.product-range-item img {
    border-radius: 100%;
    width: 12rem;
}

div.product-range-item img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 1px;
}

div.simply-living-organic-earth img {
    border-radius: 100%;
    width: 15rem;
}

hr {
    border-style: dotted;
    border-color: $brown;
}
