---
layout: home
---

<div id="landing" class="row expanded">
    <div class="small-12 small-centered columns text-center row-space">
        <img id="brand-logo" class="show-for-medium" src="img/logo.png" alt="Bali Compost Crafters Logo">
        <img class="show-for-small-only" src="img/logo_small.png" style="margin-top: 30%;" alt="Bali Compost Crafters Logo">
    </div>
</div>

<div class="row expanded">
    <div class="small-12 small-centered columns">
        <br>
        <h1 class="text-center">{{ site.slogan }}</h1>
    </div>

    <div class="row expanded small-up-1 medium-up-2 simply-living-organic-earth row-space">
        <div class="column text-center row-space">
            <img src="/img/simply_living_organic_earth.jpg" alt="Image of a nice tree in tropical garden" />
        </div>
        <div class="column row-space">
            <p><strong>Our mission is to reduce the ammount of waste entering Bali's tip! 70% or more of the waste in the tip is green waste. We take the waste and profit from it, and the earth profits also.</strong></p>
            <p><strong>Our mission is to reduce the ammount of waste entering Bali's tip! 70% or more of the waste in the tip is green waste. We take the waste and profit from it, and the earth profits also.</strong></p>
            <p><strong>Our mission is to reduce the ammount of waste entering Bali's tip! 70% or more of the waste in the tip is green waste.</strong></p>
        </div>
    </div>
</div>

<div class="row expanded text-center">
    <hr>
    <h1>Product Range</h1>
</div>
<div class="row expanded small-up-1 medium-up-3 row-space">
    {% for product in site.data.product %}
    <div id="{{ product.id }}" class="column text-center product-range-item row-space">
        <h3>{{ product.display_title }}</h3>
        <img src="img/sack.png" style="background-color: {{ product.colour }};">
            <ul>
                {% for benefit in product.benefits %}
                <li>{{ benefit }}</li>
                {% endfor %}
            </ul>
            <a href="/order" class="button medium">Order Now</a>
    </div>
    {% endfor %}
</div>
<div class="row expanded text-center">
    <hr>
    <h1>Partners</h1>
</div>

<div class="row expanded row-space small-up-1 medium-up-2 row-space">
    <div id="home-testimonials" class="column text-center">
        <h3>TESTIMONIALS</h3>
        {% for t in site.data.testimonial %}
            <p>"{{ t.testimonial }}"</p>
            <p>- {{ t.author | upcase }} -</p>
        {% endfor %}
    </div>

    <div id="home-partners" class="column text-center">
        <h3>PARTNERS</h3>
        <div class="row small-up-1 medium-up-2">
            {% for p in site.data.partner %}
            <div class="column">
                <img class="partner-logo" src="/img/partner/{{ p.id }}.png" alt="{{ p.name }}"/>
                <h6>{{ p.name }}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
