<!-- About Section -->
<section id="about" class="container content-section text-center">
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                        <h2>Our Story</h2>
                        <p>Bali Compost Crafters has been around for a couple of years now. Started with rakes and pitchforks by a lifetime organic grower who came to the Island early on and a young corporate, return-to-the-Earth minded Kiwi, the company has become a mechanized processor of green waste, building a model dedicated to preserving Bali’s truly magnificent landscape that attracted and charmed visitors, before the inundation of plastic trash and chemical fertilizers.</p>

                        <p>BCC is linked up with the government in Bandung and Udayana University to create an example of how to recycle the mountain of green waste that is being mixed up with every other form of rubbish at the dump near Benoa harbor.</p>

                        <p>We construct a conscientiously balanced product that is miles above anything else being thrown together by a number of other domestic composters who have emerged mainly to chase government subsidies that help wean farmers away from formerly subsidized chemical soil supplements, proven to have adverse effects to fertility over years of implementation.</p>

                        <p>As the green movement grows, many gardeners, landscapers and owners of villas and boutique hotels have been the quickest to realize the superior quality of what our calculated, time tested recipes can do for their Earth. Their acknowledgement is the greatest confirmation that what we are doing is indeed successful, in constructing a sustainable model for Bali's future. This is, and has always been, the essence of our vision for BCC.</p>
                </div>
        </div>
</section>
