<!-- About Section -->
<section id="campaign" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>The Cleanup Bali Campaign</h2>
                        <p>People visit the island of Bali and say stuff like, "I love it, but half the places we visited were littered with rubbish. 'They' should do something." Then, those folks go home from the paradise that they hope won't be ruined, remembering mostly what charmed them about the place and its people, often forgetting anything less..</p>
                        <p>Bali has serious waste management issues. And in looking at these issues as deeply as we have, our firm belief is that the process of change is only able to reach all the way into the core of the culture through example, rather than chat. There isn't really a 'they' somewhere, that has a budget for it.</p>

                        <p>It's important to understand that less than forty years ago, Indonesia hadn't been introduced plastic. They ate from a banana leaf plate, and dropped it for the ants to clean up, and later, it would be swept into a pile and burned. Very simple cleanliness.</p>

                        <p>BCC in cooperation with the Bandung government is currently able to process about 1000 metric tons (one million kilos) of green waste per year into marvellous pure composts for every kind of growing, from flowering gardens to rice fields.</p>

                        <p>Every day about 1500 cubic meters of green waste is mixed into about 2000 cubic meters of unsorted recyclables and other 'stuff'. As the problem grows and the practical and economic feasibility of sorting this mess decreases, what’s left is a massive pile and a huge problem. A problem nobody seems to want to deal with.</p>

                        <p>For Bali's sustainable future, that has to stop, somehow. </p>

                        <p>Bali Compost Crafters is stirring a subtle change in Bali's future by building a model for how green waste should find it's way back to the land, showing the way to what can become.</p>

                        <p>And our organic soil additives pass every test for being the best you can find. Anywhere. </p>
        </div>
    </div>
</section>
