    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Bali Compost Crafters</h1>
                        <img class="brand-logo" src="img/logo_white.png" alt="Bali compost crafters logo"/>
                        <p class="intro-text">A modern, innovative, approach to Indonesia's waste problems.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
