<div id="top-bar" class="top-bar">
    <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon light" type="button" style="float: left; margin: .1em;" data-toggle></button>
        </span>
        <span>
            <a href="/">
                <span id="top-menu-icon" class="hide-for-small-only"><i class="icon-logo-tree-only"></i></span>
                <strong>BALI COMPOST CRAFTERS</strong>
            </a>
        </span>
    </div>
    <div id="responsive-menu">
        <div class="top-bar-right">
            <ul id="right-buttons" class="menu">
                {% for page in site.pages %}
                    {% if page.title %}
                        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
